<?xml version="1.0" encoding="UTF-8" ?>
<servers version="2.0">
    <server>
        <serverName>Chengdu_Node</serverName>
        <serverIp>127.0.0.1</serverIp>
    </server>
     <server>
        <serverName>Gangzhou_Node</serverName>
        <serverIp>127.0.0.2</serverIp>
    </server>
</servers>